@model ASM_02.Models.TrainerTopic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrainerTopic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Topic.tName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Topic.tName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainer.Education)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainer.Education)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ttID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
