@model IEnumerable<ASM_02.Models.TrainingStaff>

@{
    ViewBag.Title = "Training Staff Index";
}

<h2>Training Staff Index</h2>


@*@if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
{*@
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
@*
}*@

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th style="text-align: center; background-color: skyblue;">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="text-align: center; background-color: skyblue;">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="text-align: center; background-color: skyblue;" colspan="3">Action</th>
        </tr>
    <thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
@*                    if (Roles.IsUserInRole(User.Identity.Name, "TrainingStaff") || Roles.IsUserInRole(User.Identity.Name, "Trainer"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        </td>
                    }
                    else if (Roles.IsUserInRole(User.Identity.Name, "Administrators"))
                    {*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
@*                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        </td>
                    }*@
                }
            </tr>

        }
    </tbody>
</table>

