@model ASM_02.Models.TraineeCourse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TraineeCourse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.cName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.cName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trainee.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainee.Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tcID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
