@model IEnumerable<ASM_02.Models.Topic>

@{
    ViewBag.Title = "Topic Index";
}

<h2>Topic Index</h2>

@*@if (Roles.IsUserInRole(User.Identity.Name, "Administrators") || Roles.IsUserInRole(User.Identity.Name, "TrainingStaff")
    || Roles.IsUserInRole(User.Identity.Name, "Trainer"))
{*@
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
@*}*@

<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th style="text-align: center; background-color: skyblue;">

                @Html.DisplayNameFor(model => model.Course.cName)
            </th>
            <th style="text-align: center; background-color: skyblue;">

                @Html.DisplayNameFor(model => model.tName)
            </th>
            <th style="text-align: center; background-color: skyblue;">

                @Html.DisplayNameFor(model => model.description)
            </th>
            <th style="text-align: center; background-color: skyblue;" colspan="3">Action</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.cName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    if (Roles.IsUserInRole(User.Identity.Name, "Trainer"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.tID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.tID }) |
                        </td>
                    }
                    else if (Roles.IsUserInRole(User.Identity.Name, "Administrators") || Roles.IsUserInRole(User.Identity.Name, "TrainingStaff"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.tID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.tID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.tID })
                        </td>
                    }
@*                    else
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.tID }) |
                        </td>
                    }*@
                }
            </tr>
        }
</table>
